
//Color Classes
.red {color:$red;}

img {
	padding: 5px;
	background-color: lighten($light, 5%);
	border: 1px solid #ddd;
}

//Header
.contain-to-grid {
	background:rgba(34, 30, 31, 0.9);
}
.headerCTA {
	text-align: right;
	color:$red;
	text-transform: uppercase;
	font-weight: 300;
	font-size: emCalc(24px);
	line-height: auto;
	margin-bottom: 0;
}

.headerNumber {
	text-align: right;
	color: $light;
	font-size: emCalc(20px);
	font-weight: 400;
	margin-top: 0;
}
nav ul.inline-list {
	margin-top: emCalc(20px);
	margin-bottom: 0;
}
nav li a {
	padding-top:emCalc(10px);
	text-transform: uppercase;
}
nav .inline-list > li {
	float: right;
}
// Hero Image, Inner Pages
.heroImage.innerPage {
	background: $gray url('../img/engineSplash.jpg');
	background-size: cover;
	border-bottom: emCalc(5px) solid $red;
	margin-bottom: emCalc(40px);
}
.heroImage.innerPage >.row {
	padding-top: emCalc(150px);
}
h1.heroImageCaption-ip{
	background:transparent;
	color:$light;
	text-shadow: 2px 1px 0px $dBlue;

}

//Logo
#logo {
	background: url('../img/BMBlogo.png') no-repeat;
	background-size: emCalc(150px) auto;
	width:emCalc(150px);
	height:emCalc(60px);
	margin-top: emCalc(10px);
}

// Footer
.footerWrapper {
	background:$dBlue;
	padding:emCalc(25px) 0;
}
h4.footer {
	color: $light;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1em;
}
.footer .red {
	font-weight: 600;
}
.footerMenu {
	color:$lBlue;
}
h4.footerPhone {
	color:$lBlue;
	text-align: center;
}

// Utilities 
.r-lb {//responsive line break
	display: block;
}
@media only screen and (min-width: 540px) {
	.r-lb {display:none;}
}