
//Color Classes
.red {color:$red;}

//Header
.contain-to-grid {
	background:rgba(34, 30, 31, 0.9);
}
.headerCTA {
	text-align: right;
	color:$red;
	text-transform: uppercase;
	font-weight: 300;
	font-size: emCalc(24px);
	line-height: auto;
	margin-bottom: 0;
}

.headerNumber {
	text-align: right;
	color: $light;
	font-size: emCalc(20px);
	font-weight: 400;
	margin-top: 0;
}
nav.nav ul.inline-list li a {
	text-transform: uppercase;
}
nav .inline-list > li {
	float: right;
}

//Logo
#logo {
	background: url('../img/BMBlogo.png') no-repeat;
	background-size: 200px auto;
	width:200px;
	height:124px;
	overflow:visible !important;
	display: block;
}

// Footer
.footerWrapper {
	background:$dBlue;
	padding:emCalc(25px) 0;
}
h4.footer {
	color: $light;
	text-transform: uppercase;
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1em;
}
.footer .red {
	font-weight: 600;
}
.footerMenu {
	color:$lBlue;
}